.root {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
}

.item {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.block {
    display: flex;
    align-items: center;
    transition: all 0.2s;

}

.mainFolder {
    margin-left: 54px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.menuItem {
    margin-left: 64px;
    display: flex;
    align-items: center;
    gap: 6px;

}